<%- include("../partials/header") %>

<div class='page-heading style-2'>
    <div class='container'>
                <h1>Careers</h1>                                         </div>
</div>

<section class="container" id="site-content">
<div class="normal">


                    <div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
<div class="wpb_text_column wpb_content_element " >
<div class="wpb_wrapper">
<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-one-full fusion-column-first fusion-column-last 1_1">
<div class="fusion-column-wrapper" data-bg-url="">
<div class="fusion-title title fusion-sep-none fusion-title-size-two">
<h2 class="title-heading-left">Career Opportunities by Location at Citizens Trust Bank</h2>
</div>
<div class="fusion-text">
<p>&nbsp;</p>
<p>Through a legacy built on principle; we are driven by our mission of financial empowerment with a personal touch. When you join one of the nation’s leading community banks, you can expect a career that offers you the opportunities to expand your skill set and achieve your goals. Along the way, Citizens Trust Bank supports you by providing best-in-class benefits meeting your needs and exceeding expectations. We are focused on being a financial thought leader and a beacon of knowledge to Financial Well-Being. Helping instill a sense of confidence in the financial circumstances of customers, communities, associates, and shareholders is at the center of everything we do</p>
<p>The time is now to start your career with Citizens Trust Bank. Are you ready to take the first step?<br />
Below are the current open positions:</p>
</div>
<div class="fusion-clearfix"></div>
</div>
</div>
<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1">
<div class="fusion-column-wrapper" data-bg-url="">
<div class="fusion-title title fusion-sep-none fusion-title-size-three">
<h3 class="title-heading-left">Alabama, Birmingham</h3>
<p>&nbsp;</p>
</div>
<div class="fusion-text">
<p><strong>Assistant Client Relationship Manager</strong></p>
<hr />
</div>
<div class="fusion-text">
<p><strong>Client Service Specialist I – Full-time</strong></p>
<hr />
</div>
<div class="fusion-clearfix"></div>
</div>
</div>
<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1">
<div class="fusion-column-wrapper" data-bg-url="">
<div class="fusion-text">
<p><strong>Client Service Specialist I – Part-time</strong></p>
<hr />
</div>
<div class="fusion-clearfix"></div>
</div>
</div>
<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1">
<div class="fusion-column-wrapper" data-bg-url="">
<div class="fusion-text">
<p><strong>Mortgage Loan Officer</strong></p>
<hr />
</div>
<div class="fusion-clearfix"></div>
</div>
</div>
<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1">
<div class="fusion-column-wrapper" data-bg-url="">
<div class="fusion-title title fusion-sep-none fusion-title-size-three">
<h3 class="title-heading-left">Georgia, Atlanta</h3>
<p>&nbsp;</p>
</div>
</div>
</div>
<div></div>
<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1">
<div class="fusion-column-wrapper" data-bg-url="">
<div class="fusion-clearfix"><strong>Client Care Representative </strong></div>
</div>
</div>
<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1">
<div class="fusion-column-wrapper" data-bg-url="">
<div class="fusion-clearfix"></div>
</div>
</div>
<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1">
<div class="fusion-column-wrapper" data-bg-url="">
<div class="fusion-text">
<p>&nbsp;</p>
<hr />
<p><strong>Client Relationship Manager</strong></p>
</div>
<div class="fusion-clearfix"></div>
</div>
</div>
<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1">
<div class="fusion-column-wrapper" data-bg-url="">
<div class="fusion-text">
<hr />
<p><strong>Client Service Specialist</strong></p>
</div>
<div class="fusion-clearfix"></div>
</div>
</div>
<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1">
<div class="fusion-column-wrapper" data-bg-url="">
<div class="fusion-text">
<hr />
<p><strong>Commercial Solutions Specialist</strong></p>
</div>
</div>
</div>
<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1">
<div class="fusion-column-wrapper" data-bg-url="">
<div class="fusion-text">
<hr />
</div>
<div class="fusion-clearfix"></div>
</div>
</div>
<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1">
<div class="fusion-column-wrapper" data-bg-url="">
<div class="fusion-text">
<p><strong>Fraud Prevention/Bank Security Officer</strong></p>
<hr />
</div>
<div class="fusion-clearfix"></div>
</div>
</div>
<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1">
<div class="fusion-column-wrapper" data-bg-url="">
<div class="fusion-text">
<p><strong>Mortgage Loan Officer </strong></p>
<p><strong> </strong></p>
<hr />
</div>
<div class="fusion-clearfix"></div>
</div>
</div>
<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1">
<div class="fusion-column-wrapper" data-bg-url="">
<div class="fusion-text">
<p><strong>Portfolio Analyst II </strong></p>
<p>&nbsp;</p>
<hr />
</div>
<div class="fusion-clearfix"></div>
</div>
</div>
<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1">
<div class="fusion-column-wrapper" data-bg-url="">
<div class="fusion-text">
<p><strong>Social Media Coordinator </strong></p>
<p>&nbsp;</p>
</div>
</div>
</div>

</div>
</div>
</div></div></div></div>

    </div>
</section>


<%- include("../partials/footer") %>