<%- include("../partials/header") %>

<div class='page-heading style-2'>
    <div class='container'>
                <h1>Checking Account</h1>                                           </div>
</div>

<section class="container" id="site-content">
<div class="normal">


                    <div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-has-fill"><div class="vc_column-inner vc_custom_1552731683625"><div class="wpb_wrapper">
<div class="wpb_text_column wpb_content_element " >
<div class="wpb_wrapper">
<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1">
<div class="fusion-column-wrapper" data-bg-url="">
<div class="fusion-title title fusion-sep-none fusion-title-size-one">
</div>
<div class="fusion-clearfix"></div>
<div class="fusion-column-wrapper" data-bg-url=""></div>
</div>
</div>
<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1">
<div class="fusion-column-wrapper" data-bg-url="">
<div class="fusion-title title fusion-sep-none fusion-title-size-two">
<h2 class="title-heading-left">You’re in control with our checking solutions.</h2>
</div>
<div class="fusion-text">
<p>Whether you’re new to Citizens Trust Bank or looking for an upgrade solution to your checking account, it’s easy to manage your money on your terms with a Citizens Trust Bank personal checking account. You’ll find valuable features and an account that works for you.</p>
<p>Explore and compare the best checking solution to fit your banking needs.<br />
Our checking account solutions include</p>
<p>ATMs<br />
<strong>Debit Card*</strong><br />
Direct Deposit<br />
e-Statements<br />
Message Alerts<br />
Mobile Banking<br />
Online Banking<br />
Overdraft Privilege</p>
</div>
<p><a class="exitNotifierLink" href="http://www.onlinebanktours.com/mobile/?b=1292&amp;c=46761" target="_blank" rel="noopener noreferrer"><img class="wp-image-2917 size-medium alignleft" src="../../ctbconnect.com/wp-content/uploads/2018/05/2018-CardValet-LearningCenter-300x158.jpg" sizes="(max-width: 300px) 100vw, 300px" srcset="https://ctbconnect.com/wp-content/uploads/2018/05/2018-CardValet-LearningCenter-300x158.jpg 300w, https://ctbconnect.com/wp-content/uploads/2018/05/2018-CardValet-LearningCenter-768x406.jpg 768w, https://ctbconnect.com/wp-content/uploads/2018/05/2018-CardValet-LearningCenter.jpg 937w" alt="" width="300" height="158" /></a></p>
<p><strong>LEARN MORE at Citizens Trust Bank Learning Center</strong></p>
<p>* Keep tabs on your <strong>Citizens Trust Bank debit card</strong>with <strong>Card</strong><strong>Valet</strong><strong><sup>®</sup></strong>. Get instant alerts whenever your card is used. Protect yourself against fraud –  Track your spending. The CardValet<strong><sup>®</sup></strong> mobile app allows you to control your debit card activity. Download the CardValet<strong><sup>®</sup></strong> app from  Apple and Google Play stores today. <strong>Data rates may apply. Check with your mobile phone carrier for details.</strong></p>
</div>
</div>

</div>
</div>
</div></div></div></div>

    </div>
</section>

<%- include("../partials/footer") %>