<%- include("../partials/header") %>

<div class='page-heading style-2'>
    <div class='container'>
                <h1>Contact Us</h1>                                            </div>
</div>

<section class="container" id="site-content">
<div class="normal">


                    <div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
<div class="wpb_text_column wpb_content_element " >
<div class="wpb_wrapper">
<p><strong>Thank you for your interest in Citizens Trust Bank</strong>. Specific inquiries about our product and service solutions can be addressed by completing the Citizens Trust Bank<strong> Contact Us form</strong>. The appropriate Citizens Trust Bank associate will contact you as soon as possible. Further questions can be answered at +1 502 487 2864 during normal business hours M-F 8:30 a.m. – 6:00 p.m. ET.</p>
<p>Thank you for putting your trust in us.</p>
<p><strong>Reach us now:</strong></p>
<p>Email: customercare@ctbconnectt.com</p>
<p>Phone: +1(678) 961-4008</p>
<p>&nbsp;</p>
<h3>Further enquiries, please fill the form</h3>
<p>&nbsp;</p>

</div>
</div>
</div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div role="form" class="wpcf7" id="wpcf7-f6-p2572-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"></div>
<form action="/contact" method="POST" class="wpcf7-form">

<p><label> Your Name (required)<br />
<span class="wpcf7-form-control-wrap your-name"><input required type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span> </label></p>
<p><label> Your Email (required)<br />
<span class="wpcf7-form-control-wrap your-email"><input required type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" /></span> </label></p>
<p><label> Subject<br />
<span class="wpcf7-form-control-wrap your-subject"><input required type="text" name="subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" /></span> </label></p>
<p><label> Your Message<br />
<span class="wpcf7-form-control-wrap your-message"><textarea required name="message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea></span> </label></p>
<p><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit" /></p>
<div class="wpcf7-response-output wpcf7-display-none"></div></form></div></div></div></div></div>

    </div>
</section>


<%- include("../partials/footer") %>