<%- include("../partials/header") %>
<style>
    ul{
        list-style-type: disc;
        margin:2%;
    }
</style>
<div class='page-heading style-2'>
<div class='container'>
            <h1>Investment Account</h1>
</div>

<section class="container" id="site-content">
<div class="normal">


                <div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
<div class="wpb_text_column wpb_content_element " >
<div class="wpb_wrapper">
<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1">
<div class="fusion-column-wrapper" data-bg-url="">
<div class="fusion-title title fusion-sep-none fusion-title-size-one">
</div>
<p><strong>Sweep Account Application</strong></p>
<p><a href="/apply" ><button type="button" class="wpcf7-form-control wpcf7-submit">Apply</button></a></p>
<p><strong>Sweep Account</strong><br />
Move the excess balance into this short-term investment account and get an interest yield based on the federal funds rate. The Sweep Account will transfer a certain amount or the entire balance from the transaction account daily.</p>
<ul>
<li>Minimum opening balance – $100,000.00</li>
<li>Monthly service charge – $42.00</li>
<li>Is subject to the Corporate Analysis fee schedule</li>
<li>Moves excess balances from any number of subsidiary accounts into a consolidated balance that earns a higher rate of interest.</li>
<li>Offers an Interest Bearing option that pays a competitive rate of interest, based upon the Fed Funds rate, compounded daily and paid monthly.</li>
<li>Option to transfer the entire balance or a specified amount daily.</li>
<li>Convenient record keeping for multiple accounts</li>
<li>Interest earned on deposit balances when balance requirements are maintained.</li>
<li>Consolidation of transaction accounts to collectively earns interest.</li>
</ul>
<p><strong>Commercial Money Market Account</strong><br />
The Commercial MTA Account is an interest bearing money market account designed for our commercial customers which offers the additional option of occasionally writing checks on the account while earning a market interest rate.</p>
<ul>
<li>Requires a minimum opening deposit of $2,500</li>
<li>Monthly service charge – $10.00</li>
<li>Monthly maintenance fee if the balance falls below $2,500 at any time during the month</li>
<li>Compounds interest daily, which is paid monthly</li>
<li>Allows unlimited withdrawals with no additional fees if the minimum balance is maintained</li>
<li>Allows up to 6 third-party transactions (3 of which can be 6 checks) with a fee charged for third party transactions in excess of 6 (the legal limit) per statement period</li>
<li>Provides itemized monthly statements</li>
</ul>
<p>Investment Account Application</p>
<div class="fusion-clearfix"></div>
</div>
</div>
<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1">
<div class="fusion-column-wrapper" data-bg-url="">
<div class="fusion-title title fusion-sep-none fusion-title-size-two">
<h2 class="title-heading-left">CDARS</h2>
</div>
<div class="fusion-clearfix"></div>
</div>
</div>
<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1">
<div class="fusion-column-wrapper" data-bg-url="">
<div class="fusion-title title fusion-sep-none fusion-title-size-four">
<h4 class="title-heading-left"><em>CDARS at Citizens Trust Bank</em></h4>
</div>
<p>CDARS® is one of the safest and smartest investment vehicles for investors looking to protect their<br />
large-dollar investments while earning CD-level returns that may compare favorably to Treasury and money-market-fund yields.<br />
CDs placed through CDARS offer investors (individual as well as institutional investors, such as corporations, foundations, and endowments):</p>
<ul>
<li>Access to multi-million-dollar FDIC insurance</li>
<li>The ease of working through one trusted relationship, earning one rate per maturity, and receiving consolidated statements</li>
<li>The ability to forego ongoing collateral tracking</li>
<li>The power of daily compounding; and</li>
<li>A finite maturity date (in contrast to auction-rate or some adjustable-rate securities).</li>
</ul>
<p><strong>Features:</strong></p>
<p>Citizens Trust Bank is an FDIC-insured member of the nationwide network of financial institutions called CDARS. When you deposit a large amount with us, we can place your funds into CDs issued by other banks in the CDARS Network in increments under the standard FDIC insurance maximum. This makes both principal and interest eligible for FDIC coverage.</p>
<ul>
<li>Earn CD-level returns which may compare favorably with other investment alternatives, including Treasuries, corporate sweep accounts and money market funds.</li>
<li>Individual investors receive a single year-end tax form.</li>
</ul>
<p><strong>Benefits:</strong></p>
<ul>
<li>Eliminate the need to manage multiple bank relationships.</li>
<li>Work directly with Citizens Trust Bank.</li>
<li>Earn one interest rate per maturity.</li>
</ul>
<p>Investing through CDARS can be a strong alternative to Treasuries. Like Treasuries, FDIC insurance is backed by the full faith and credit of the U.S. government.</p>
<p>Learn more Watch our CDARS video or Contact us at 1.888.214.3099</p>
<p>CDARS CDs are considered bank deposits. They are not DTC eligible and, currently, no secondary market exists. Early withdrawals are available, but require the payment of a substantial penalty.</p>
<p>You should compare the current rates and features of CDs (including CDs placed through the CDARS service) to other investment alternatives. Past performance may not be representative of future performance or success.</p>
<p>Weekly and overall limits apply. If a depositor is subject to restrictions with respect to the placement of funds in depository institutions, it is the responsibility of the depositor to determine whether the placement of the depositor’s funds through CDARS or a particular CDARS transaction satisfies those restrictions. Funds may be submitted for placement only after a depositor enters into a CDARS Deposit Placement Agreement with Citizens Trust Bank. The agreement contains important information and conditions regarding the placement of funds by our bank through CDARS.</p>
<p>CDARS is a registered service mark of Promontory Inter-financial Network, LLC.</p>
</div>
</div>

</div>
</div>
</div></div></div></div>

</div>
</section>

</div>

<%- include("../partials/footer") %>