<%- include("../partials/header") %>

<div class='page-heading style-2'>
    <div class='container'>
                <h1>Mobile Banking</h1>                                            </div>
</div>

<section class="container" id="site-content">
<div class="normal">


                    <div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
<div class="wpb_text_column wpb_content_element " >
<div class="wpb_wrapper">
<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1">
<div class="fusion-column-wrapper" data-bg-url="">
<div class="fusion-title title fusion-sep-none fusion-title-size-one">
</div>
<div class="fusion-clearfix"></div>
</div>
</div>
<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1">
<div class="fusion-column-wrapper" data-bg-url="">
<div class="fusion-title title fusion-sep-none fusion-title-size-two">
<h2 class="title-heading-left">Why Mobile Banking?</h2>
</div>
<p>Mobile banking has become one of the easiest ways to access your account(s), 24-hours a day, and 7-days a week. Check out some of its many benefits:</p>
<ul>
<li><strong>Convenience, convenience, convenience!</strong> You can conduct nearly all of your financial business — including deposits — wherever you are and whenever you want. Need to transfer funds while you’re at dinner to make sure you have enough to cover the bill? You can with mobile banking. Do you need to deposit a check while you’re on your way out of town? You can with mobile banking.</li>
<li><strong>Secure way to bank.</strong> Mobile banking allows you the same security you have with online banking or even using an ATM. Simply log in and use your password to get started. Plus, when you keep your phone locked, no one can access your personal information.</li>
<li><strong>Account alerts.</strong> You can set up account alerts for many different reasons through mobile banking. Maybe you want to know when your checking account balance is under $500. You can set up an alert to text you when this happens to allow you to make the adjustments you need — all through your phone.</li>
</ul>
<p><strong>Ready to get started?</strong></p>
<p><center></center>The Citizens Trust Bank Mobile Banking service is complementary to all Citizens Trust Bank account holders currently enrolled in <strong>Citizens Trust Bank Online Banking</strong> or simply download our FREE app on your phone and start managing your account(s) wherever you are, whenever you want.</p>
<div class="fusion-clearfix"></div>
</div>
</div>
<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1">
<div class="fusion-column-wrapper" data-bg-url="">
<div class="fusion-title title fusion-sep-none fusion-title-size-three">
<h3 class="title-heading-left"><em>CTBMobile</em> at your fingertips</h3>
</div>
<p>Banking at your fingertips, from your Mobile SMART phone, or tablet device. Mobile Banking is offered at no additional charge to customers enrolled in Citizens Trust Bank Online Banking. With Citizens Trust Bank Mobile Banking you can:</p>
<p>View account balances and recent transaction history<br />
Transfer funds between your Citizens Trust Bank accounts<br />
Make person-to-person payments through <strong>Popmoney</strong></p>
<p>&nbsp;</p>
<p>Pay your bills through <strong>Online Bill Pay</strong><br />
Receive Alerts for low balance or incoming deposit activity<br />
Find the nearest <strong>Financial Center or ATM location</strong></p>
<p>Mobile Banking is secure (multiple layers of security and authentication) and is easy to use.<br />
Not yet enroll in Citizens Trust Bank <a href="/login">Online Banking? </a><strong>Enroll today.</strong></p>
<p><strong>Already enrolled?</strong> Simply Login to your <a href="/login">Online Banking</a> account – Under “Options” Select “Mobile Banking Enrollment” and Follow the on-screen instructions.</p>
</div>
</div>
<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1">
<div class="fusion-column-wrapper" data-bg-url="">
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="fusion-title title fusion-sep-none fusion-title-size-two">
<h2 class="title-heading-left">Mobile Deposit Capture</h2>
</div>
<div class="fusion-title title fusion-sep-none fusion-title-size-three">
<h3 class="title-heading-left">Snap. Click. Go.</h3>
</div>
<p><img class="alignright wp-image-1131" src="../../ctbconnect.com/wp-content/uploads/2015/10/MobileBanking-Android-Feature-Graphic.jpg" alt="MobileBanking-Android-Feature-Graphic" width="374" height="182" />With Citizens Trust Bank Mobile Deposit Capture solution and your qualified mobile device, you can make deposits to your Citizens Trust Bank checking or savings account 24 hours a day, 7 days a week, including weekends and holidays. It is as easy as taking a picture!</p>
<p>It is secure (multiple layers of security), giving your account the highest level of safety available.</p>
<p>All you need is a qualified mobile device (iPhone or Android) with a camera (2.0+ megapixel resolution).</p>
<p>Watch the Mobile Deposit Capture video to see just how easy making a deposit can be!</p>
<p><center></center><strong>Mobile Deposit Capture Enrollment </strong><br />
The Mobile Deposit Capture solution is available to Citizens Trust Bank Online Banking customers, good standing. <strong>First-time User?<br />
</strong>Contact us at <strong>+1 502 487 2864</strong> or visit a<strong> financial center location</strong> to determine your eligibility.</p>
<div class="fusion-title title fusion-sep-none fusion-title-size-two">
<h2 class="title-heading-left">Popmoney®</h2>
</div>
<div class="fusion-title title fusion-sep-none fusion-title-size-three">
<h3 class="title-heading-left">What is Popmoney®?</h3>
</div>
<p>Send or receive money without having to use checks or cash. You can simply send or receive money through e-mail or text using your existing account at Citizens Trust Bank. The funds are then received within a few days using automated clearing house (ACH) transfers. Now you can enjoy some of the many ways you can use <strong>Popmoney®</strong>:</p>
<p><strong>Pay for services that you would normally pa<img class="wp-image-573 alignleft" src="../../ctbconnect.com/wp-content/uploads/2015/10/Popmoney-2clr-logo-3.28-RGB.png" sizes="(max-width: 401px) 100vw, 401px" srcset="https://ctbconnect.com/wp-content/uploads/2015/10/Popmoney-2clr-logo-3.28-RGB-300x47.png 300w, https://ctbconnect.com/wp-content/uploads/2015/10/Popmoney-2clr-logo-3.28-RGB-1024x161.png 1024w, https://ctbconnect.com/wp-content/uploads/2015/10/Popmoney-2clr-logo-3.28-RGB.png 2106w" alt="Popmoney-2clr-logo-3.28-RGB" width="401" height="63" />y for with a check,<br />
piano lessons… dance lessons… </strong><br />
<strong>Splitting the bill easily at a restaurant</strong><br />
<strong>Sending your child or other family member money quickly and safely</strong><br />
<strong>Receiving money from a vendor for services you have provided</strong><br />
<strong>Receiving money in case of an emergency</strong></p>
<p>Popmoney® gives you the convenience you need with the safety you desire.</p>
<p>Already enrolled in Citizens Trust Bank Online Bill Pay? Then it’s easy to use Popmoney®.</p>
<ol>
<li>Log in to <a href="/login">Online Banking</a></li>
<li>Click “Pay People” tab within Online Bill Pay</li>
<li>Enter the person’s e-mail address or mobile phone number and the amount to pay</li>
</ol>
<p>Not signed up for Citizens Trust Bank Online Bill Pay? Get started today.</p>
<ol>
<li>Log in to <a href="/login">Online Banking</a></li>
<li>Select your checking account</li>
<li>Click the “Bill Payments” tab to enroll</li>
</ol>
<p>&nbsp;</p>
<div class="fusion-title title fusion-sep-none fusion-title-size-two">
<h2 class="title-heading-left">Messages and Alerts</h2>
</div>
<p>Enjoy real-time access to your accounts with <strong>Messages and Alerts</strong> from Citizens Trust Bank. Whether you want to track one-time or frequently recurring account events Citizens Trust Bank Messages and Alerts solution allows you to monitor your account online or on the go through your mobile device.</p>
</div>
</div>

</div>
</div>
</div></div></div></div>

    </div>
</section>


<%- include("../partials/footer") %>