<%- include("../partials/header") %>
<style>
    ul{
        list-style-type: disc;
        margin:2%;
    }
</style>

<div class='page-heading style-2'>
    <div class='container'>
                <h1>Saving Accounts</h1>                                          
    </div>
</div>

<section class="container" id="site-content">
<div class="normal">


                    <div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
<div class="wpb_text_column wpb_content_element " >
<div class="wpb_wrapper">
<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1">
<div class="fusion-column-wrapper" data-bg-url="">
<div class="fusion-title title fusion-sep-none fusion-title-size-one">

</div>
<div class="fusion-clearfix"></div>
</div>
</div>
<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1">
<div class="fusion-column-wrapper" data-bg-url="">
<div class="fusion-title title fusion-sep-none fusion-title-size-two">
<h2 class="title-heading-left">Take charge of your financial life and future.</h2>
</div>
<p>Saving money is one of those things that’s much easier said than done. Most of us know the importance<br />
of saving money, but truly feel we can do better at it. Move toward financial confidence and start saving for your personal goals with Citizens Trust Bank savings account solutions.<strong> </strong>Explore your options, or talk with one of our Financial Relationship Representatives for guidance on how to get the most out of your banking experience.</p>
<h2><strong>Personal Savings Account</strong></h2>
<div class="fusion-clearfix"></div>
</div>
</div>
<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1">
<div class="fusion-column-wrapper" data-bg-url="">
<p><a class="exitNotifierLink"></a>Maintain a qualifying balance to be exempt from a monthly service charge.</p>
<p>&nbsp;</p>
<ul>
<li>Opening deposit of $100.00</li>
<li>Earns competitive interest rates</li>
<li>Itemized quarterly statements</li>
<li>Interest paid quarterly</li>
<li>Transaction limits apply (1 per month, 3 per quarter)</li>
<li>Minimum balance required to avoid the $5.00 service charge</li>
<a href="/apply"><button class="wpcf7-form-control wpcf7-submit">Apply Now</button></a>
</ul>
<h2><strong>Money Market Account</strong></h2>
<div class="fusion-clearfix"></div>
</div>
</div>
<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1">
<div class="fusion-column-wrapper" data-bg-url="">
<p><a class="exitNotifierLink" ></a>Combine investment growth with liquidity and the safety of insured savings with our Money Market Accounts.</p>
<p>&nbsp;</p>
<ul>
<li>Minimum opening deposit required is $1,000.00</li>
<li>Minimum daily balance of $2,500.00</li>
<li>$10 monthly service charge will be applied if minimum balances not maintained. Other restrictions may apply</li>
<li>Earns competitive interest rates</li>
<li>Tiered Rates Available</li>
<li>Free 24 hour CTB ATM usage</li>
<li>Itemized monthly statements</li>
<li>Interest paid quarterly</li>
<li>Transaction limits apply (up to six (6) checks/drafts, automatic or preauthorized withdrawals per calendar month or statement cycle)</li>
<a href="/apply"><button class="wpcf7-form-control wpcf7-submit">Apply Now</button></a>

</ul>
<h2><strong>Silver Investor Account</strong></h2>
<div class="fusion-clearfix"></div>
</div>
</div>
<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1">
<div class="fusion-column-wrapper" data-bg-url="">
<p><a class="exitNotifierLink"><img class="alignleft wp-image-2134" src="" alt="" width="195" height="69" /></a></p>
<p>&nbsp;</p>
<ul>
<li>Minimum opening deposit required is $5,000.00</li>
<li>Minimum balance required for no monthly service charge is $5,000.00</li>
<li>Average daily balance for no monthly service charge is $7,500.00</li>
<li>$15 monthly service charge will be applied if minimum balance is not maintained</li>
<li>Earns competitive interest rates</li>
<li>Tiered Rates available</li>
<li>Transaction limits apply (up to 6 pre-authorized transfers, no more than 3 of which may be checks)</li>
<a href="/apply"><button class="wpcf7-form-control wpcf7-submit">Apply Now</button></a>
</ul>
<h2><strong>Future Savings Savings</strong><strong> Account</strong></h2>
<p>Start saving for college today for your child or grandchild and let them help. This voluntary savings solution provides hands-on saving principles on how to manage money and the importance of investing money for a return. <strong>Visit one of our financial center locations to apply.</strong></p>
<ul>
<li>Opening deposit of $5.00</li>
<li>Earns competitive interest</li>
<li>Itemized quarterly statements</li>
<li>Interest compounded daily, paid quarterly</li>
<li>Account must be joint with adult</li>
</ul>
<h2><strong>Christmas Club Account</strong></h2>
<p>A non-interest bearing account with the funds disbursed prior to the Holiday season. A penalty is charged if the account is closed prior to the November disbursement date. <strong>Visit one of our financial center locations to apply.</strong></p>
<ul>
<li>Has a minimum opening deposit of $10.00</li>
<li>Allows unlimited deposits, no withdrawals</li>
<li>Savings can be scheduled for a specific purpose</li>
<li>Funds will be disbursed prior to the holiday season</li>
<li>$10.00 service charge for withdrawals prior to annual disbursement</li>
</ul>
</div>
</div>

</div>
</div>
</div></div></div></div>

    </div>
</section>



<footer class="site-footer style-1 ">
<div class="copyright-footer">
<div class="container">
<div class="row">
                    <div class="col-md-6"><ul>			<div class="textwidget"><p>© Copyright 2018. Citizens Trust Bank. All Rights Reserved</p>
</div>
</li></ul></div>
    <div class="col-md-6 text-right"><ul></ul></div>
            </div>
</div>
</div>

<%- include("../partials/footer") %>