<%- include("../partials/user/header") %>


<!--/col-->

<div class="col main pt-5 mt-3 bg-light">
    <div class="title">
        <h4 class="display-5 d-sm-block"> 
            ONLINE TRANSACTIONS
        </h4>
    </div>
    <div class="desc">
        <small class="">Welcome to Citizens Trust Bank | Personal Banking, Small Business Banking, Mortgages and Loans, Investments. " Wherever you are, we're there for you. Especially online. From convenient online banking to our Twitter page, where you can talk to real people. And of course you can do your banking or apply for an account at 3 am if that's your thing..</small>
    </div>

    <!-- dashboard boxes starts -->
      <div class="transfer-details">
          <div class="row">

              <div class="col-md-3">

                <div class="main-box bg-danger">
                    <a href="/customer/transfer/international-bank-transfer">
                    <h4>INTERNATIONAL TRANSFER</h4>
                         <i class="fa fa-usd fa-2x"> <font size="6px">  12,345.00</font></i><font size="6px">	</font>							
                    </a>
                </div>
        
                <div class="main-box bg-warning text-light">
                    <a href="/customer/transfer/inter-bank">
                    <h4>INTER-BANK TRANSFER</h4>
                        <i class="fa fa-usd fa-2x"> <font size="6px">   12,345.00</font></i><font size="6px">				</font>						
                    </a>
                </div>
        
            </div>

            <div class="col-md-4">
                <div class="main-box bg-info">
                    <h4 class="text-light">NOTE</h4>
                        <p>To Initiate a Transfer, Select by Clicking on the most convinient Mode of Transfer</p>     
                    
                    <p> </p><p> I <font color="#A54786"><b> TESTING </b></font>hereby declare that all information duly filled on this International Remittance Form is genuine to the best of my knowledge and Northern Savings Bank | Personal Banking, Small Business Banking, Mortgages and Loans, Investments will not be responsible for any mistake(s) caused by me.  
                      </p>
                      
                </div>
        
            </div>
            
            <div class="col-md-5">
                  <img class="img-fluid" src="/assets/img/fraud.jpg" style="height: 350px">
            </div>
        </div>
      </div>
 
    <!--/row-->

</div>
<!--/main col-->
</div>

</div>
<!--/.container-->





<%- include("../partials/user/footer") %>
