<%- include("../partials/header") %>
<div class='page-heading style-2'>
    <div class='container'>
                <h1>Who We Are</h1>                                           </div>
</div>

<section class="container" id="site-content">
<div class="normal">


                    <div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
<div class="wpb_text_column wpb_content_element " >
<div class="wpb_wrapper">
<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1">
<div class="fusion-column-wrapper" data-bg-url="">
<div class="fusion-title title fusion-sep-none fusion-title-size-one">
<h1 class="title-heading-left">Message from the President</h1>
</div>
<div class="fusion-clearfix"></div>
</div>
</div>
<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1">
<div class="fusion-column-wrapper" data-bg-url="">
<div class="fusion-title title fusion-sep-none fusion-title-size-two">
<h2 class="title-heading-left">Moving Forward and Investing in What Matters</h2>
</div>
<div class="fusion-clearfix"></div>
</div>
</div>
<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1">
<div class="fusion-column-wrapper" data-bg-url="">
<div id="attachment_1498" class="wp-caption alignleft">
<p><img class="wp-image-1498 " title="Cynthia N. Day President and CEO of Citizens Trust Bank" src="../../ctbconnect.com/wp-content/uploads/2015/10/MessagefromthePresident.jpg" sizes="(max-width: 179px) 100vw, 179px" srcset="https://ctbconnect.com/wp-content/uploads/2015/10/MessagefromthePresident-215x300.jpg 215w, https://ctbconnect.com/wp-content/uploads/2015/10/MessagefromthePresident.jpg 236w" alt="MessagefromthePresident" width="179" height="250" /></p>
<p class="wp-caption-text">Cynthia N. Day President and CEO of Citizens Trust Bank</p>
</div>
<div class="fusion-clearfix"></div>
</div>
</div>
<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1">
<div class="fusion-column-wrapper" data-bg-url="">
<div id="attachment_2219" class="wp-caption alignright">
<p><a href="http://ctbconnect.com/message-from-the-president/2015-citizens-0233-robinson/" rel="attachment wp-att-2219"><img class="wp-image-2219" title="Ray M. Robinson Chairman of the Board - Citizens Bancshares Corporation" src="../../ctbconnect.com/wp-content/uploads/2015/10/2015-CITIZENS-0233-robinson.jpg" sizes="(max-width: 175px) 100vw, 175px" srcset="https://ctbconnect.com/wp-content/uploads/2015/10/2015-CITIZENS-0233-robinson-214x300.jpg 214w, https://ctbconnect.com/wp-content/uploads/2015/10/2015-CITIZENS-0233-robinson-731x1024.jpg 731w, https://ctbconnect.com/wp-content/uploads/2015/10/2015-CITIZENS-0233-robinson-768x1075.jpg 768w, https://ctbconnect.com/wp-content/uploads/2015/10/2015-CITIZENS-0233-robinson.jpg 1500w" alt="Ray M. Robinson Chairman of the Board - Citizens Bancshares Corporation" width="175" height="245" /></a></p>
<p class="wp-caption-text">Ray M. Robinson Chairman of the Board – Citizens Bancshares Corporation</p>
</div>
<p>&nbsp;</p>
<p><strong>In 2017, Citizens Trust Bank has delivered strong financial performanc</strong>e, guided by our vision to excel at securing and enhancing the financial well-being of customers, shareholders, our team, and the broader community.</p>
<p>We set aggressive objectives and realized very successful results. The risk profile of our balance sheet is likely in the best position it has ever been in the 96-year history of the institution. Our core earnings have improved significantly, and we continue to make important strides in improving our platforms for an enhanced customer experience, both digitally and in-branch. But more importantly, we have made significant steps in positioning our institution to move forward and grow.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<hr />
<p><strong>Some key highlights over the past year:</strong></p>
<ul>
<li><em>Executed on the strategic initiative to take the Company private</em></li>
<li><em>Executed and integrated a $35 million acquisition consisting of approximately 5,000 new customers </em><em> </em></li>
<li><em>Generated over 40% growth or $1 million in income before income taxes over the prior year to $3.80 million</em></li>
<li><em>Experienced an 8% growth in assets and a 10% growth in deposits</em><em> </em></li>
<li><em>Produced approximately 18% growth in loans</em><em> </em></li>
<li><em>Improved the Company’s risk profile with historically low asset quality metrics </em></li>
<li><em>Experienced double-digit growth across our digital platforms (including social media)</em><em> </em></li>
<li><em>Exited the U.S. Department of Treasury Troubled Asset Relief Program (“TARP”) while remaining well capitalized</em><em> </em></li>
<li><em>And enhanced shareholder value with a 43% and 67% growth in adjusted EPS –diluted and ROE, respectively, year over year based on operating income.</em></li>
</ul>
<p><em> </em>We highlight the 2017 pretax results in an effort to give our shareholders a clearer picture of the tremendous operating performance of the Company, exclusive of the one-time $1.2 million tax expense resulting from the Tax Cuts and Jobs Act of 2017. The Company’s net income for 2017, including the impact of the adjustment, was $1.6 million which was approximately $400,000 less than the prior year.</p>
<p>We are proud of the results and our team. These milestones were not accomplished without a tremendous amount of focus and discipline from everyone.</p>
<p>In order to continue to deliver this level of performance, we understand that we are operating in an age of unparalleled change. Digital technologies are creating new challenges and opportunities at an unprecedented pace. That change is having an impact on everything from politics to education to the way people shop and interact with each other…on every continent. For Citizens Trust Bank, it has an impact on how we do business.</p>
<p>The banking and financial services industry continues its shift from a sales and product business to one that targets the right markets, customer segments, and solutions that more closely fit specific needs. Customers are savvier and expect a one-stop shop for financial solutions. To win, we must operate differently: we need to embrace innovation, manage talent differently, and pursue key partnerships.</p>
<p>In the face of this industry-wide evolution, Citizens Trust Bank remains positioned for strength. Not simply to survive and maintain our current business, but to transform the way we do business and interact with our customers.</p>
<p>As we look forward to 2018, we will continue to push our agenda to evolve our Company for the future. We know that we cannot rest on our laurels—we must regularly examine, refine, and adapt our business model to deliver the most value to our customers, our community, and our shareholders. Our board and management contain highly experienced professionals with the right mix of skills, expertise, and insights to drive Citizens Trust Bank forward.</p>
<p>Introduced in 2017, our three strategic pillars represent the basis for Citizens Trust Bank’s business model and strategic decision making processes. Execution of these three priorities is critical to ensure the creation of superior and sustainable financial performance, now and in the future. At Citizens Trust Bank, we aim to:</p>
<ol>
<li><strong>Promote </strong>community, economic growth, and stability</li>
<li><strong>Remain personal and customer-centric </strong>in our interactions leveraging specialized digital platforms</li>
<li><strong>Enhance </strong>the Citizens Trust Bank brand to drive institutional growth</li>
</ol>
<p>Our focus is to simply to do more of what we are currently doing in a smarter and more efficient way, enhance our digital presence to drive brand exposure and growth, and pursue diversification in our lines of business.<br />
<strong>Promote community, economic growth, and stability </strong></p>
<p>Part of promoting community, economic growth and stability mean financially healthy businesses and people. That’s why our customer’s well-being is at the foundation of our business strategy. This customer-centric focus is present in our appeal to today’s customer needs—50% of our account acquisitions are online enhanced by convenience solutions such as mobile transactions, including Apple and Samsung Pay, Online Bill Pay, Mobile Deposits, and Commercial Deposit Capture as well as a variety of other consumer and commercial options. Also, the Citizens Trust Bank’s credit card remains among</p>
<p>the country’s lowest rate, no fee credit card, as previously recognized by Kiplinger, <em>Money </em>Magazine, and Clark Howard.</p>
<p>Wealth building and strong vibrant communities through homeownership is also our commitment and we are making a mark. We experienced 78% and 300% mortgage production growth in 2017 and 2016, respectively. We continue to simplify our customer’s engagement with us through our online application and totally paperless process. This has been beneficial to not only our customers but has allowed us to grow this business in a very efficient and productive way. We continue to make ourselves available to the community through outreach, including homebuyer seminars and expand our realtor relationships in every market area. Again, our goal is to do more of what we are doing!</p>
<p>For the business community, we continue to enhance and extend our capabilities to include a broader range of services and product offerings to help our clients meet their strategic goals and financing needs. We are adding a tailored line of credit to our product mix to expand our reach to operating companies—and pursuing lenders whose skill sets align with our strategic focus and product solutions. The operating companies will provide further diversification to our portfolio and serve as another avenue for growth.</p>
<p>Over the past three years, we believe our solutions have created value and impact in the community as we have invested approximately $130 million in business loans to help stimulate economic growth and create jobs.</p>
<p>Our goal is to continue to push for convenience in every sector of our business. We will begin implementation of a small business loan app—to launch in 2019—that aligns with our efforts on faster and more convenient delivery of service to our business customers.</p>
<p>Our commitment to the community does not end there, in an effort to promote financial stability and sustainability, during 2017, we partnered with local schools to reach over 2,200 students through our financial independence training program.</p>
<p><strong>Remain personal and customer-centric in our interactions leveraging specialized digital platforms </strong></p>
<p>In 2017, we consolidated our branch and operation’s network and overhauled the facilities to be more reflective of our brand. We also wanted to create a better and more efficient atmosphere for our associates to work, because we believe that a positive work environment is directly correlated to a positive customer</p>
<p>experience. As we move into 2018, a customer-centric environment with personalized service will remain our primary focus.</p>
<p>The digital transformation taking place in the financial sector is redefining how we do business. As competition and customer expectations for enhanced digital banking services increase, we must remain nimble and deploy strategies that will allow us to successfully adapt and grow in the digital age. In response, we will continue to allocate human and financial capital to advancing technology for an optimum and pleasurable customer experience and a broader market reach.</p>
<p>Over the last several years our efforts in this area have produced great results, and we have experienced an explosion of growth in our customer base, which has grown more than 65% since 2015, from 10,000 to more than 17,000 customers strong. With this growth came a noticeable shift in demographics,  highlighted by a 300% increase in the 30-49 age group. These customers bank differently, which has led to a significant growth in our electronic product utilization. In almost every digital channel—including mobile and online banking, bill pay and debit card usage—we have grown at least 130% since 2015.  Our goal is to keep doing more of what we are doing!</p>
<p>Recognizing the trends in customer engagement and activity, retooling our organizational structure is mission critical. We will continue to dedicate resources to fit the evolving customer interaction through technology, with an emphasis on our digital and social media platforms. Realigning our staffing and organizational structure in the client service areas—digital <em>and </em>in-branch—will allow us to engage our customers how and when they need us, and to achieve and sustain valuable and long-term relationships.</p>
<p><strong>Enhance the Citizens Trust Bank brand to drive institutional growth </strong></p>
<p>2017 was an active year of transformation in the bank’s delivery channels. With the success of our digital platforms, 2018 is the right time to incorporate an even greater focus on digital marketing.</p>
<p>Even though we have made significant gains, we still have an opportunity to solidify that we are being heard, and our presence is being felt in the marketplace —especially in communities where we already have a strong presence. The correlation between who we are and what we do is impacted by how our audiences see, talk about, and engage with us.<br />
Therefore, marketing is key to the future growth in all verticals of our business. We will increase our marketing in the digital space, in light of the growth we have already experienced in this venue. We will focus on how we can most effectively speak to customers and provide the options to conveniently meet their financial needs. Engaging in partnerships to explore these opportunities will assist us in effectively obtaining desired results.<br />
As we leverage technology to improve our delivery of service to customers, we are also challenging our team to use the technology to enhance returns through efficient business processes. .</p>
<p><strong>Moving Forward…</strong></p>
<p>As we move forward, we are well positioned. We are committed to providing high-quality financial services and building lasting client relationships. We are dedicated to keeping pace with fast-changing technology, and the technological needs of our customers. We continue to recruit and retain quality talent to enable our strategic objectives.<br />
Together with our board, we will regularly examine, refine, and adapt our business model, and we believe our strategic plan— to <strong>promote </strong>community, economic growth, and stability; to <strong>remain personal </strong>and customer-centric in our interactions, and to <strong>enhance </strong>the Citizens Trust Bank brand to drive institutional growth – will assist us in achieving sustainable long-term value to our shareholders. As always, thank you for putting your trust in us and for your continued support.</p>
</div>
</div>

</div>
</div>
</div></div></div></div>

    </div>
</section>


<%- include("../partials/footer") %>